<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jt808CMDCacheProvider" class="com.tiza.util.cache.ram.RamCacheProvider"/>

    <bean id="monitorCacheProvider" class="com.tiza.util.cache.ram.RamCacheProvider"/>

    <bean id="waitRespCacheProvider" class="com.tiza.util.cache.ram.RamCacheProvider"/>

    <bean id="insertSqlCacheProvider" class="com.tiza.util.cache.ram.RamCacheProvider"/>

    <bean id="updateSqlCacheProvider" class="com.tiza.util.cache.ram.RamCacheProvider"/>
</beans>